<div class="title-panel"><h1>Atualize o Paciente</h1></div>
<div class="home-panel"><a href="/list-paciente"><i class="fas fa-home fa-3x"></i></a></div>
<div class="form-style-5">
    <form id="pacienteForm" action="/edit-paciente" method="post">
        <fieldset>
            {{#each data}}
            <input type="hidden" name="id" id="id" value="{{id}}">
            <div style="display: flex; justify-content:space-between;">
                <div class="col-6">
                    <label for="identificador">Identificador:</label>
                    <input type="text" name="identificador" id="identificador" value="{{identificador}}">
                    <label for="exame_data">Data do exame:</label>
                    <input type="date" id="exame_data" name="exame_data"
                    min="1999-01-01" max="2030-12-31" value="{{exame_data}}">
                    <label for="relatorio_data">Data do relatório:</label>
                    <input type="date" id="relatorio_data" name="relatorio_data"
                    value="{{relatorio_data}}" disabled>
                </div>
                <div class="col-6" id="fileContainer">
                    <label for="imgExame">Raio-x do Exame:</label>
                    <img id="imgExame" height="180" width="160"> 
                    <div>
                        <input type="file" id="fileElem" accept="image/*">
                        <label for="fileElem">choose a file</label>
                    </div>
                </div>
            </div>
            <label for="slider-tooltips">Escolha a gravidade do paciente:</label>
            <div class="slider" id="slider-tooltips">
                     <input type="hidden" name="magnitude" id="magnitude" value="{{magnitude}}">
            </div>
            <label for="hospital_dropdown">Escolha o hospital:</label>
            <select id="hospital_dropdown" name="hospital_dropdown" ></select>

            <label for="medicamento_dropdown">Escolha o medicamento:</label>
            <select id="medicamento_dropdown" name="medicamento_dropdown" ></select>
            <textarea name="descricaoTextarea" id="descricaoTextarea" 
            cols="30" rows="10" placeholder="Descrição do paciente *"></textarea>
            
            <input type="hidden" name="img_pulmao" id="img_pulmao" value="{{img_pulmao}}">
            <input type="hidden" name="id_hospital" id="id_hospital" value="{{id_hospital}}">
            <input type="hidden" name="id_medicamento" id="id_medicamento" value="{{id_medicamento}}">
            <input type="hidden" name="descricao" id="descricao" value="{{descricao}}">
            <input type="submit" value="Save" />
            {{/each}}
        </fieldset>
    </form>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

<script>
    let fileElem = document.getElementById("fileElem");
    fileElem.addEventListener("change", handleFiles, false); 
    
    //Dropdown Hospital
    let dropdownHospital = document.getElementById('hospital_dropdown');
    dropdownHospital.length = 0;

    let defaultOptionHospital = document.createElement('option');
    defaultOptionHospital.text = 'Select Hospital';
    defaultOptionHospital.value = ''
    defaultOptionHospital.disabled = true

    dropdownHospital.add(defaultOptionHospital);
    dropdownHospital.selectedIndex = 0;

    //Dropdown Mediamento 
    let dropdownMedicamento = document.getElementById('medicamento_dropdown');
    dropdownMedicamento.length = 0;

    let defaultOptionMedicamento = document.createElement('option');
    defaultOptionMedicamento.text = 'Select Medicamento';
    defaultOptionMedicamento.value = ''
    defaultOptionMedicamento.disabled = true

    dropdownMedicamento.add(defaultOptionMedicamento);
    dropdownMedicamento.selectedIndex = 0;

    //Request Hospitais
    const requestHospital = new XMLHttpRequest();
    requestHospital.open('GET', '/list-hospitalAJAX', true);

    requestHospital.onload = function() {
        if (requestHospital.status >= 200 && requestHospital.status < 300) {
            const data = JSON.parse(requestHospital.responseText);
            let option;
            for (let i = 0; i < data.length; i++) {
                option = document.createElement('option');
                option.text = data[i].nome;
                option.value = data[i].id;
                dropdownHospital.add(option);
            }
        } else {
            console.log('The requestHospital failed!');
        }   
    }
    requestHospital.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + url);
    };
    requestHospital.send();

    //Request Medicamentos
    const requestMedicamento = new XMLHttpRequest();
    requestMedicamento.open('GET', '/list-medicamentoAJAX', true);

    requestMedicamento.onload = function() {
        if (requestMedicamento.status >= 200 && requestMedicamento.status < 300) {
            const data = JSON.parse(requestMedicamento.responseText);
            let option;
            for (let i = 0; i < data.length; i++) {
                option = document.createElement('option');
                option.text = data[i].nome;
                option.value = data[i].id;
                dropdownMedicamento.add(option);
            }
        } else {
            console.log('The request failed!');
        }   
    }
    requestMedicamento.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + url);
    };
    requestMedicamento.send();

    document.getElementById('hospital_dropdown').value = document.getElementById('id_hospital').value
    document.getElementById('medicamento_dropdown').value = document.getElementById('id_medicamento').value
    document.getElementById("descricaoTextarea").value = document.getElementById("descricao").value

    var slider = document.getElementById('slider-tooltips');
    createNoUiSlider(slider)
    slider.noUiSlider.set(document.getElementById("magnitude").value);
   
    // Use createObjectURL to make a URL for the blob
    var image = new Image();
    image.src = document.getElementById('img_pulmao').value;
    image.height = 180;
    image.width = 160;
    document.getElementById('fileContainer').children[1].replaceWith(image)

    document.getElementById('pacienteForm').onsubmit = function() {
        document.getElementById('id_hospital').value = document.getElementById('hospital_dropdown').value
        document.getElementById('id_medicamento').value = document.getElementById('medicamento_dropdown').value
        document.getElementById("descricao").value = document.getElementById("descricaoTextarea").value
        document.getElementById("magnitude").value = getSliderValue(slider)
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('fileContainer').children[1];
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

</script>